rollback_definition.json
{
	"Type": "Map",
	"End": true,
	"Iterator": {
		"StartAt": "Deploy Rollback",
		"States": {
			"Deploy Rollback": {
				"Type": "Map",
				"Parameters": {
					"Path.$": "$$.Map.Item.Value"
				},
				"End": true,
				"Iterator": {
					"StartAt": "Get Rollback Providers",
					"States": {
						"Get Rollback Providers": {
							"Type": "Task",
							"Resource": "arn:aws:states:::codebuild:startBuild",
							"Parameters": {
									"ProjectName": "${get_rollback_providers_build_name}",
									"EnvironmentVariablesOverride": [
											{
													"Name": "PATH",
													"Type": "PLAINTEXT",
													"Value.$": "$.Path"
											}
									]
							},
							"Next": "Plan Rollback"
						},
						"Plan Rollback": {
							"Type": "Task",
							"Resource": "arn:aws:states:::codebuild:startBuild",
							"Parameters": {
								"ProjectName": "${plan_rollback_build_name}",
								"EnvironmentVariablesOverride": [
									{
										"Name": "PATH",
										"Type": "PLAINTEXT",
										"Value.$": "$.Path"
									},
									{
										"Name": "COMMAND",
										"Type": "PLAINTEXT",
										"Value": "plan"
									}
								]
							},
							"Next": "Rollback Request Approval"
						},
						"Rollback Request Approval": {
							"Type": "Task",
							"Resource": "arn:aws:states:::sns:publish.waitForTaskToken",
							"Next": "Approval Results",
							"Parameters": {
								"TopicArn": "${approval_sns_arn}",
								"Message.$": "${approval_msg}"
							}
						},
						"Rollback Approval Results": {
							"Type": "Choice",
							"Choices": [
								{
									"Variable": "$.Status",
									"StringEquals": "Approve",
									"Next": "Apply"
								},
								{
									"Variable": "$.Status",
									"StringEquals": "Reject",
									"Next": "Reject"
								}
							]
						},
						"Apply Rollback": {
							"Type": "Task",
							"Resource": "arn:aws:states:::codebuild:startBuild",
							"Parameters": {
								"ProjectName": "${apply_rollback_build_name}",
								"EnvironmentVariablesOverride": [
									{
										"Name": "PATH",
										"Type": "PLAINTEXT",
										"Value.$": "$.Path"
									},
									{
										"Name": "COMMAND",
										"Type": "PLAINTEXT",
										"Value": "plan"
									}
								]
							},
							"End": true
						}
					}
				}
			}
		}
	}
}